.form {
    /* display: flex; */
    text-align: center;
}

.first {
    background-color: red;
}

.check {
    margin-left: 45% !important;
    margin-bottom: 10px !important;
    color: red !important;
}